name: Automasi Eksperimen Preprocessing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  experimentation:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.7"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Preprocessing Experiment
      run: |
        python preprocessing/automate_Aditya_Maulana_Pamungkas.py

    - name: Archive ML Experiments (MLflow)
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-runs
        path: mlruns

    - name: Archive Preprocessed Data
      uses: actions/upload-artifact@v4
      with:
        name: preprocessed-data
        path: preprocessing/heart_disease_preprocessing
